<h1>Is my Industry still Growing?</h1>
<br>
<div class="row">
  <div class="col-md-4">
  	<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Select Industry
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><p>Agriculture, Forestry and Fishing</p></li>
		    <li><p>Mining</p></li>
		    <li><p>Manufacturing</p></li>
		    <li><p>Electricity, Gas, Water and Waste Services</p></li>
		    <li><p>Construction</p></li>
		    <li><p>Wholesale Trade</p></li>
		    <li><p>Retail Trade</p></li>
		    <li><p>Accommodation and Food Services</p></li>
		    <li><p>Transport, Postal and Warehousing</p></li>
		    <li><p>Information Media and Telecommunications</p></li>
		    <li><p>Financial and Insurance Services</p></li>
		    <li><p>Rental, Hiring and Real Estate Services</p></li>
		    <li><p>Professional, Scientific and Technical Services</p></li>
		    <li><p>Administrative and Support Services</p></li>
		    <li><p>Public Administration and Safety</p></li>
		    <li><p>Education and Training</p></li>
		    <li><p>Health Care and Social Assistance</p></li>
		    <li><p>Arts and Recreation Services</p></li>
		  </ul>
		</div>
  </div>
  <div class="col-md-4">Return % net growth of Industry here</div>
  <div class="col-md-4">Return Industries with Growth >0 && are related to the dropdown industry</div>
</div>