<h1>Resources</h1>
<p>Links to gov re-skilling resources here</p>
<li>http://employment.gov.au/occupational-skill-shortages-information</li>
<li>http://lmip.gov.au/default.aspx?LMIP/VacancyReport</li>
<li>http://myfuture.edu.au/change-direction/australian-job-market-trends/what-skills-are-in-shortage</li>